In [1]:
import pandas as pd

In [54]:
data = pd.read_csv('../../data/telecom_churn.csv')

In [3]:
pd.read_csv?

In [4]:
data.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 20 columns):
State                     3333 non-null object
Account length            3333 non-null int64
Area code                 3333 non-null int64
International plan        3333 non-null object
Voice mail plan           3333 non-null object
Number vmail messages     3333 non-null int64
Total day minutes         3333 non-null float64
Total day calls           3333 non-null int64
Total day charge          3333 non-null float64
Total eve minutes         3333 non-null float64
Total eve calls           3333 non-null int64
Total eve charge          3333 non-null float64
Total night minutes       3333 non-null float64
Total night calls         3333 non-null int64
Total night charge        3333 non-null float64
Total intl minutes        3333 non-null float64
Total intl calls          3333 non-null int64
Total intl charge         3333 non-null float64
Customer service calls    3333 non-null int64
Churn                     3333 non-null bool
dtypes: bool(1), float64(8), int64(8), object(3)
memory usage: 498.1+ KB

In [8]:
type(data)

pandas.core.frame.DataFrame

In [9]:
data.describe()

,Account length,Area code,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856
std,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

In [10]:
data['Churn'].value_counts()

False    2850
True      483
Name: Churn, dtype: int64

In [17]:
data[data['International plan'] == 'Yes']['Churn'].value_counts()

False    186
True     137
Name: Churn, dtype: int64

In [18]:
pd.crosstab(data['International plan'],
           data['Churn'])

Churn               False  True
International plan
No                   2664    346
Yes                   186    137

In [24]:
data[(data['State'] == 'NY') & 
    (data['International plan'] == 'Yes')]

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
985,NY,64,415,Yes,No,0,346.8,55,58.96,249.5,79,21.21,275.4,102,12.39,13.3,9,3.59,1,True
1044,NY,94,510,Yes,No,0,243.2,109,41.34,147.0,88,12.50,94.9,99,4.27,7.2,4,1.94,4,False
1309,NY,137,415,Yes,No,0,174.0,123,29.58,161.3,115,13.71,260.7,98,11.73,11.4,3,3.08,2,False
1752,NY,181,415,Yes,No,0,161.3,83,27.42,124.4,83,10.57,262.0,98,11.79,14.1,3,3.81,0,True
1872,NY,15,510,Yes,No,0,141.4,80,24.04,123.9,76,10.53,323.5,88,14.56,8.1,3,2.19,2,False
2401,NY,126,415,Yes,No,0,239.7,87,40.75,281.7,92,23.94,183.5,113,8.26,11.4,1,3.08,1,True
2987,NY,131,408,Yes,No,0,122.3,83,20.79,118.8,94,10.10,147.9,95,6.66,13.7,3,3.70,3,True
3086,NY,54,510,Yes,No,0,236.3,91,40.17,152.8,130,12.99,160.3,98,7.21,11.2,8,3.02,3,False

In [23]:
data.shape

(3333, 20)

In [38]:
data['many_calls'] = data['Customer service calls'] > 4

In [39]:
data.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,many_calls
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,...,16.78,244.7,91,11.01,10.0,3,2.70,1,False,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,...,16.62,254.4,103,11.45,13.7,3,3.70,1,False,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,...,10.30,162.6,104,7.32,12.2,5,3.29,0,False,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,...,5.26,196.9,89,8.86,6.6,7,1.78,2,False,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,...,12.61,186.9,121,8.41,10.1,3,2.73,3,False,False

In [40]:
data['Total day calls'].describe()

count    3333.000000
mean      100.435644
std        20.069084
min         0.000000
25%        87.000000
50%       101.000000
75%       114.000000
max       165.000000
Name: Total day calls, dtype: float64

In [41]:
# def many_talks(minutes):
#     return minutes > 100

In [43]:
data['many_talks'] = data['Total day calls']\
                    .apply(lambda x: x > 100)

In [44]:
data.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,many_calls,many_talks
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,...,244.7,91,11.01,10.0,3,2.70,1,False,False,True
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,...,254.4,103,11.45,13.7,3,3.70,1,False,False,True
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,...,162.6,104,7.32,12.2,5,3.29,0,False,False,True
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,...,196.9,89,8.86,6.6,7,1.78,2,False,False,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,...,186.9,121,8.41,10.1,3,2.73,3,False,False,True

In [45]:
data['state_K'] = data['State'].apply(lambda x: 
                                      x[0] == 'K')

In [47]:
data[data['state_K']].head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,many_calls,many_talks,state_K
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,...,91,11.01,10.0,3,2.70,1,False,False,True,True
88,KY,74,415,No,Yes,35,154.1,104,26.20,123.4,...,57,9.09,10.9,9,2.94,2,False,False,True,True
103,KY,95,408,No,No,0,135.0,99,22.95,183.6,...,102,11.04,12.5,9,3.38,1,False,False,False,True
179,KS,70,408,No,No,0,232.1,122,39.46,292.3,...,112,9.05,0.0,0,0.00,3,False,False,True,True
192,KY,80,408,No,No,0,209.9,74,35.68,195.1,...,119,9.37,8.8,4,2.38,2,False,False,False,True

In [53]:
for (plan, sub_df) in data.groupby('International plan'):
    print(plan)
    print(sub_df['Churn'].value_counts())

No
False    2664
True      346
Name: Churn, dtype: int64
Yes
False    186
True     137
Name: Churn, dtype: int64

In [25]:
data.iloc[2, 3]

'No'

In [26]:
data.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [27]:
values = [[17, 23], 
          [28, 45],
          [60,60]]

In [37]:
%%time
df = pd.DataFrame(values, columns=['age', 'wage'], 
                 index=['John', 'Mary', 'Kate'])

CPU times: user 771 µs, sys: 32 µs, total: 803 µs
Wall time: 781 µs

In [30]:
df

      age  wage
John   17    23
Mary   28    45
Kate   60    60

In [36]:
df.iloc[2, 1] = pd.null

AttributeError: module 'pandas' has no attribute 'null'

In [33]:
df.loc['Mary', 'wage']

45

In [34]:
df.ix[:2, 'age']

John    17
Mary    28
Name: age, dtype: int64